%footer.registration-new-footer
  %small
    %nav.registration-new-footer__nav
      %ul.registration-new-footer__nav__ul
        %li= link_to 'プライバシーポリシー','', class: 'registration-new-footer__nav__ul__li'
        %li= link_to 'フリマ利用規約', '', class: 'registration-new-footer__nav__ul__li'
        %li= link_to '特定商取引に関する表記','', class: 'registration-new-footer__nav__ul__li'
    %a.footer-logolink
      = image_tag src="logo-white.png", size: "223x65"
    %p.footer-p
      © Gasiwatani, Inc.