<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>freemarket_sample_71i</title>
</head>
<body>
  <div class="main">
    <div class="main_r-side">
      <ul class="main_r-side_list"> 
        <li class="main_r-side_list_nav">
          <a href='#' class="main_r-side_list_nav_mypage">
            マイページ
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            お知らせ
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            やることリスト
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            いいね！一覧
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            出品する
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            下書き一覧
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            出品した商品-出品中
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            出品した商品-取引中
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            出品した商品-売却済み
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            購入した商品-取引中
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            購入した商品-過去の取引
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            ニュース一覧
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            評価一覧
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            ガイド
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            お問い合わせ
          </a>
        </li>
      </ul>
      <h3 class="main_r-side_title">
        メルペイ
      </h3>
      <ul class="main_r-side_list"> 
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            売上・振込申請
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            ポイント
          </a>
        </li>
      </ul>
      <h3 class="main_r-side_title">
        設定
      </h3>
      <ul class="main_r-side_list">
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            プロフィール
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            発送元・お届け先住所変更
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            支払い方法
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            メール/パスワード
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            本人情報
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            電話番号の確認
          </a>
        <li class="main_r-side_list_nav">
          <a href='#', class="main_r-side_list_nav_item">
            ログアウト
          </a>
        </li>
      </ul>
    </div>
    <div class="credit">
      <div class="credit_contaier">
        <h2 class="credit_contaier_title">支払い方法</h2>
        <div class="credit_contaier_inner">
          <div class="credit_contaier_inner_title">
            <h3 class="credit_contaier_inner_title_name">クレジットカード一覧</h3>
          </div>
          <div class="credit_contaier_inner_area">
            <div class="credit_contaier_inner_area_content">
              <a href='#' class="credit_contaier_inner_area_content_button">
                クレジットカードを追加する
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>