* {
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 0px;
}
p {
  margin: 0px;
  font-size: 16px;
}

h3 {
  margin: 0px;
}
.main {
  display: flex;
  height: 1400%;
  width: 100%;
  margin: 40px auto 0;
  background-color: #F5F5F5;
}
.main_r-side {
  width: 280px;
  height: 1300px;
  margin-left: 210px;
}

.main_r-side_list {
  margin: 40px auto 0;
}

.main_r-side_list_nav {
  width: 280px;
  height: 48px;
  background-color: white;
  border-top: 1px solid #eee;
  font-size: 14px;
  position: relative;
  display: inline-block;
}
          

.main_r-side_list_nav_mypage {
  text-decoration: none;
  display: block;
  cursor:pointer;
  height: 48px;
  width: 240px;
  padding: 14px;
  color: black;
}

.main_r-side_list_nav_item {
  text-decoration: none;
  display: block;
  cursor:pointer;
  height: 48px;
  width: 240px;
  padding: 14px;
  color: black;
}

.main_r-side_title {
  margin: 40px 0 0;
}

.credit {
  height: 358px;
  width: 700px;
  background-color: #ffffff;
  margin-top: 40px;
  margin-left: 40px;
}

.credit_contaier {
  height: 358px;
  
  
}

.credit_contaier_button {
  display: block;
  width: 320px;
  background-color: red;
  margin: 0 auto;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

.credit_contaier_title {
  font-size: 24px;
  padding: 8px 24px;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;

}

.credit_contaier_inner {
  padding: 64px;
  height: 183px;
}

.credit_contaier_inner_title_name {
  font-size: 16px;
}

.credit_contaier_inner_title {
  max-width: 320px;
  margin: 0 auto;
}

.credit_contaier_inner_area {
  width: 572px;
  height: 58px;
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}

.credit_contaier_inner_area_content {
  height: 50px;
  width: 320px;
  margin: 0 auto;
  background-color: red;
}

.credit_contaier_inner_area_content_button {
  text-decoration: none;
  line-height: 50px;
  padding-left: 50px;
  font-size: 15px;
  color: #ffffff;
}