.main
  .main__inside
    %section.trading_section
      %h2.trading.header 購入内容の確認

    %section.trading_section
    %section.trading_section
    %section.trading_section
    %section.trading_section
    %section.trading_section
    %section.trading_section
    %section.trading_section
