.registration-new {
  font-size: 14px;
  background: #f5f5f5;
  &__container {
    padding: 0 0 220px;
    &__single_header {
      height: 128px;
      text-align: center;
      &__logo-part {
        margin: 40px 30px 0 0px;
        display: inline-block;
      }
    }
    &__single_main{
      .account-input-box {
        width: 700px;
        margin: 0 auto;
        background-color: #fff;
        &__head {
          padding: 32px;
          text-align: center;
          font-weight: bold;
          h2 {
            font-size: 22px;
            font-weight: 700;
          }
        }
        &__body {
          padding: 24px 16px 40px;
          border-top: 1px solid #f5f5f5;
          &__forms{
            max-width: 343px;
            margin: 0 auto;
            #field-top{
              margin: 0;
            }
            .field {
              margin: 16px 0 0;
              &-label__name{
                font-weight: 600;
              }
              .form-require{
                color: #fff;
                background-color: #ea352d;
                border-radius: 2px;
                margin-left: 8px;
                padding: 2px 4px;
                font-size: 12px;
              }
              &-input{
                display: flex;
                &__box{
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  width: 100%;
                  margin: 8px 0 0;
                  border: 1px solid #ccc;
                }
                .family-name {
                  margin-right: 8px;
                }
              }
            }
            .form-info{
              margin: 8px 0 0;
              color: #888;
              line-height: 1.5;
            }
            .form-info2__head {
              font-size: 16px;
              font-weight: 700;
            }
            .form-info2__body {
              margin-top: 8px;
            }
            .password-part{
              
            }
          }
          &__btn-part{
            max-width: 343px;
            margin: 24px auto 0 auto;
            .registration-new-btn {
              width: 100%;
              color: #fff;
              background-color: rgb(234, 53, 45);
              line-height: 48px;
              font-size: 14px;
              border-radius: 4px;
              border: 1px solid
            }

          }
    
        }
      }
    }

    &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    }
  }
}
    

