
.session-new {
  background: #f5f5f5;
  font-size: 14px;
  position: relative;
  &-header {
    height: 128px;
    text-align: center;
    &__logo-part {
      margin: 40px 30px 0 0px;
      display: inline-block;
    }
  }
  &-main {
    margin: 0 auto;
    .login-panel {
      width: 456px;
      margin: 0 auto;
      background-color: #fff;
      &-no-account {
        height: 145px;
        padding: 40px 64px;
        text-align: center;
        border-bottom:1px solid rgb(238, 238, 238);
        &__info {
        }
        &__make-account {
          line-height: 40px;
          margin-top: 8px;
          color: #fff;
          background: #0099e8;
          display: block;
          text-decoration: none;
          border-radius: 4px;
        }
      }
      &-by-sns {
        height: 265px;
        padding: 32px 64px;
        border-top: 1px solid rgb(238, 238, 238);
        button {
          height: 50px;
          width: 100%;
          margin-top: 16px;
          display: block;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          position: relative;
          text-align: center;
          border-radius: 4px;
          border: 1px solid transparent;
          outline: none;
          i {
            position: absolute;
            left: 12px;
            top: 12px;
          }
        }
        .google-login {
          border: #979797 solid 1px;
          background-color: $white;
          background-image: image-url('googlelogin.svg');
          background-repeat: no-repeat;
        }
        .face-book-login {
          background-color: #385185;
          color: $white;
          border: 1px solid transparent;
        }
      }
      &-by-email {
        padding: 24px 64px 32px;
        height: 456px;
        .email-field {
          &-form {
            width: 100%;
            height: 48px;;
          }
        }
        .password-field {
          margin-top: 24px;
          &-form {
            width: 100%;
            height: 48px;
          }
        }
        .robocheck-field{
          margin-top: 24px;
          height: 78px;
        }
        .actions {
          margin-top: 24px;
          .login-btn {
            width: 100%;
            height: 48px;
            color: #fff;
            background-color: $furima;
            border-radius: 4px;
            border: 1px solid $furima;
            outline: none;
            cursor: pointer;
          }
        }
        .to-password-reminder {
          margin-top: 40px;
          color: #0099e8;
          display: block;
        }
      }
    }
  }
}
