.registration-new {
  font-size: 14px;
  background: $back;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  position: relative;
  &-container {
    padding: 0 0 220px;
    .registration-new-header {
      height: 128px;
      text-align: center;
      &__logo-part {
        margin: 40px 30px 0 0px;
        display: inline-block;
      }
    }
    .registration-new-main {
      .account-input-box {
        width: 700px;
        margin: 0 auto;
        background-color: #fff;
        &__head {
          padding: 32px;
          text-align: center;
          font-weight: bold;
          border-bottom: 1px solid $back;
          h2 {
            font-size: 22px;
            font-weight: 700;
          }
        }
        &__body {
          padding: 24px 16px 40px;
          border-top: 1px solid $back;
          &__forms{
            max-width: 343px;
            margin: 0 auto;
            #field-top{
              margin: 0;
            }
            .field {
              margin: 16px 0 0;
              &-label__name{
                font-weight: 600;
              }
              .form-require{
                color: #fff;
                background-color: $red;
                border-radius: 2px;
                margin-left: 8px;
                padding: 2px 4px;
                font-size: 12px;
              }
              &-input{
                display: flex;
                &__box{
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  width: 100%;
                  margin: 8px 0 0;
                  border: 1px solid #ccc;
                }
                .family-name {
                  margin-right: 8px;
                }
              }
            }
            .form-info{
              margin: 8px 0 0;
              color: #888;
              line-height: 1.5;
            }
            .form-info2-title {
              font-size: 16px;
              font-weight: 700;
            }
            .form-info2-text {
              margin-top: 8px;
            }
            .password-part{
              
            }
            .field-input-birthday{
              .year {
                border: 1px solid #ccc;
                border-radius: 4px;
                margin: 8px 2px 0 0;
                padding: 0 10px;
                height: 48px;
                width: 76px;
              }
              .month {
                border: 1px solid #ccc;
                border-radius: 4px;
                margin: 8px 2px 0 5px;
                padding: 0 10px;
                height: 48px;
                width: 76px;

              }
              .day {
                border: 1px solid #ccc;
                border-radius: 4px;
                margin: 8px 0 0 5px;
                padding: 0 10px;
                height: 48px;
                width: 76px;
              }
            }
          }
          &__btn-part{
            max-width: 343px;
            margin: 24px auto 0 auto;
            .registration-new-btn {
              width: 100%;
              color: #fff;
              background-color: $furima;
              line-height: 48px;
              font-size: 14px;
              border-radius: 4px;
              border: 1px solid $furima;
            }
            &-text1 {
              margin-top: 40px;
              text-align: right;
              .btn-part-link {
                color: #0099e8;
              }


            }
            &-text2 {
              margin-top: 24px;
              padding: 8px 16px;
              background-color: $back;
              p {
                color: #888888;
                font-size: 12px;
                .btn-part-link {
                  color: #0099e8;
                }
              }
            }

          }
    
        }
      }
    }

    .registration-new-footer {
      width: 456px;
      height: 220px;
      margin: 0 auto;
      padding: 40px 0;
      position: absolute;
      right: 0;
      left: 0;
      text-align: center;
      a:visited { color:rgb(51, 51, 51); text-decoration:none }
      &__nav{
        text-align: center;
        &__ul {
          display: flex;
          font-size: 1;
          justify-content: space-between;
          &__li {
          }
        }
      }
      .footer-logolink {
        height: 65px;
        width: 223px;
        margin: 40px auto 0;
        display: block;
      }
      .footer-p {
        margin-top: 8px;
      }
    }
  }
}

