.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .content__help {
        list-style: none;
        &__list:hover {
          text-decoration: underline;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
    .content2 {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .content2__help {
        list-style: none;
        &__list:hover {
          text-decoration: underline;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
    .content3 {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .content3__help {
        list-style: none;
        &__list:hover {
          text-decoration: underline;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
        &__list {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
  }
  &__name {
    font-size: 14px;
  }
}