.furima-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  a:visited { color:rgb(51, 51, 51); text-decoration:none }
  &__nav{
    text-align: center;
    &__ul {
      display: flex;
      font-size: 1;
      justify-content: space-between;
      &__li {
      }
    }
  }
  .footer-logolink {
    height: 65px;
    width: 223px;
    margin: 40px auto 0;
    display: block;
  }
  .footer-p {
    margin-top: 8px;
  }
}