* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .appBanner {
    background-image: image-url('bg-appBanner-pict.jpg');
    // background-image: image-url("bg-mainVisual-pict_pc.jpg");
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    .inner {
      color: #fff;
      text-align: center;
      &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 35px;
      }
      &__icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        a {
          margin-right: 10px;
          .icon_Btn {
            width: 180px;
          }
        }
        a {
          .icon_gBtn {
            width: 180px;
          }
        }
        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .purchaseBtn {
    width: 120px;
    background: #3ccace;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__icon {
      width: 60%;
    }
  }
  .purchaseBtn:hover {
    opacity: 0.7;
  }
}