.new-main {
  width: 100%;
  margin: 0px auto;
  .new-main_image {
    padding: 16px;
  }
  .new-main_product {
    padding: 40px;
    .new-main_product_top {
      margin: 0;
      .new-main_product_top_body {
        .new-main_product_top_body_name {
          margin: 0!important;
          align-items: center;
          display: flex;
          .new-main_product_top_body_name_left {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          }
          .new-main_product_top_body_name_right {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: #3CCACE;
            color: #fff;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
          }
        }
        .new-main_product_top_body_form {
          margin-top: 16px;
          align-items: center;
          display: inline-flex;
          width: 100%;
          color: #222;
          font-size: 16px;
          .new-main_product_top_body_form_body {
            .new-main_product_top_body_form_body_text {
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              font-family: inherit;
              font-size: inherit;
              height: 48px;
              margin: 0;
              outline: none;
              padding: 0 16px;
              width: inherit;
            }
          }
        }
      }
    }
    .new-main_product_bottom {
      margin-top: 32px;
      .new-main_product_bottom_body{
        .new-main_product_bottom_body_top {
          margin: 0!important;
          align-items: center;
          display: flex;
          .new-main_product_bottom_body_top_left {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          }
          .new-main_product_bottom_body_top_right {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: #3CCACE;
            color: #fff;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
          }
        }
        .new-main_product_bottom_body_btm {
          margin-top: 16px;
          margin-bottom: 0px;
          
        }
      }
    }
  }
  .new-main_product-details {
    padding: 16px;
    &_title {
      color: rgb(136, 136, 136);
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      margin-bottom: 24px;
    }
    .new-main_product-details_category {
      margin-top: 32px;
      &_body {
        &_top {
          margin: 0!important;
          align-items: center;
          display: flex;
          &_left {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          }
          &_right {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: #3CCACE;
            color: #fff;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
          }
        }
        &_bottom {
          margin-top: 16px;
          &_box {
            display: inline-block;
            position: relative;
            width: inherit;
            &_form {
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              color: #222;
              font-size: 16px;
              height: 48px;
              line-height: 1;
              margin: 0;
              outline: none;
              padding: 0 56px 0 16px;
              width: 100%;
            }
            &_choice {
              bottom: 0;
              margin: auto;
              pointer-events: none;
              position: absolute;
              right: 16px;
              top: 0;
            }
          }
        }
      }
    }
    .new-main_product-details_brand {
      margin-top: 32px;
      .new-main_product-details_brand_body {
        .new-main_product-details_brand_body_top {
          margin: 0!important;
          align-items: center;
          display: flex;
          .new-main_product-details_brand_body_top_left {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          }
          .new-main_product-details_brand_body_top_right {

          }
        }
      }
    }
    .new-main_product-details_condition {
      margin-top: 32px;
      .new-main_product-details_condition_body {
        .new-main_product-details_condition_body_top {
          margin: 0!important;
          align-items: center;
          display: flex;
          .new-main_product-details_condition_body_top_left {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          }
          .new-main_product-details_condition_body_top_right {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            background-color: #3CCACE;
            color: #fff;
            border-radius: 2px;
            display: inline-block;
            font-style: normal;
          }
        }
        .new-main_product-details_condition_body_bottom {
          margin-top: 16px;
          .new-main_product-details_condition_body_bottom_box {
            display: inline-block;
            position: relative;
            width: inherit;
            .new-main_product-details_condition_body_bottom_box_form {
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              color: #222;
              font-size: 16px;
              height: 48px;
              line-height: 1;
              margin: 0;
              outline: none;
              padding: 0 56px 0 16px;
              width: 100%;
            }
            .new-main_product-details_condition_body_bottom_box_choice {
              bottom: 0;
              margin: auto;
              pointer-events: none;
              position: absolute;
              right: 16px;
              top: 0;
            }
          }
        }
      }
    }
  }
  .new-main_delivery {
    padding: 40px;
    &_burden {
      margin-top: 32px;
      &_body {

        &_top {
          align-items: center;
          display: flex;
          &_left {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          }
          &_right {
            margin-left: 8px;
            font-size: 12px;
            padding: 0 4px;
            font-weight: 600;
            line-height: 1.4em;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &_bottom {
          align-items: center;
          width: 100%;
          &_body {
            display: inline-block;
            position: relative;
            width: inherit;
            &_form {

            }
            &_choice {

            }
          }
        }
      }
    }
    .new-main_delivery_area {

    }
    .new-main_delivery_days {

    }
  }
  .new-main_selling-price {
    padding: 16px 16px 0px;
  }
  .new-main_btn {
    width: 360px;
    margin: 0px auto 32px;
    .new-main_btn_top {
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      background-color: #3CCACE;
      color: #fff;
      font-weight: 600;
      text-align: center;
    }
    .new-main_btn_bottom {
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      margin-top: 24px;
      background-color: #ccc;
      border-color: transparent;
      color: #222;
      font-weight: 600;
      text-align: center;
    }
  }
  .new-main_note {
    margin: 0px 16px 48px;
  }
}