.new-main {
  position: relative;
  height: 1800px;
  width: 100%;
  margin: 40px auto 0;
  padding: 0 60px;
  background-color: #F5F5F5;
  .new-photoboxes {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 193px;
    width: 900px;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__first {
      height: 193px;
      width: 193px;
      background-color: white;
    }
    &__second{
      height: 193px;
      width: 193px;
      background-color: white;
    }
    &__third {
      height: 193px;
      width: 193px;
      background-color: white;
    }
    &__fourth {
      height: 193px;
      width: 193px;
      background-color: white;
    }
  }
  .item-name {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-detail {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 500px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-category {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 600px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-brand {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 700px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-condition {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 800px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-delivery-fee {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 900px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-shipping-method {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 1000px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-days {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 1100px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-area {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 1200px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  .item-price {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 900px;
    top: 1300px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    &__title {
      height: 50px;
      width: 150px;
      background-color: #F5F5F5;
      line-height: 50px;
    }
    &__form {
      height: 50px;
      width: calc(100vw - 700px);
      background-color: white
    }
  }
  #confirm.btn.btn-large.btn-default {
    height: 60px;
    width: 100px;
    position: absolute;
    justify-content: space-between;
    height: 60px;
    width: 500px;
    top: 1400px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-size: large;
  }
}