* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .showmain {
    background: #f8f8f8;
    .showmain--product {
      padding: 40px;
      margin: 0 auto;
      .contentleft {

      }
      .contentright {
        width: 700px;
        margin: 0 auto;
        .topcontent {
          .itembox {
            background-color: #fff;
            padding: 24px 40px 40px;
            .itembox__name {
              text-align: center;
              font-weight: bold;
              font-size: 24px;
            }
            .itembox__body {
              margin: 16px 0 0;
              ul.itembox_item {
                display: flex;
                position: relative;
                li.itembox_item_main {
                  display: flex;
                  flex-direction: column;
                  width: 560px;
                  align-items: center;
                  margin: 0 auto;
                  .itembox_item_img {
                    object-fit: cover;
                    height: 346px;
                  }
                  .itembox_item_img:hover {
                    opacity: 0.7;
                  }
                }
              }
              ul.itembox_item_sub {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                li.itembox_item_sub_list {
                  width: 25%;
                  margin: 0 10px 0 0;
                  .itembox_item_sub_list {
                    object-fit: cover;
                    height: 100px;
                    width: 100%;
                  }
                  .itembox_item_sub_list:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
            .itembox__price {
              margin: 24px 0 24px;
              text-align: center;
              display: flex;
              flex-direction: column;
              .price {
                font-size: 46px;
                font-weight: bold;
                margin: 0 10px 0 0;
              }
              .itembox__price__detail{
                font-size: 16px;
                span {

                }
              }
            }
            .itembox__detail {
              line-height: 1.5;
              font-size: 18px;
              margin-bottom: 30px;
            }
            .table {
              margin-bottom: 20px;
              width: 100%;
              .table__box {
                height: 375px;
                border-collapse: collapse;
                border: 1px solid #f8f8f8;
                tr {
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    a {
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
            .favorite_area {
              button {
                border-radius: 40px;
                padding: 8px 16px;
                font-size: 14px;
                display: flex;
                line-height: 100%;
                outline: none;
                cursor: pointer;
                .like {
                  margin: 1px 0 0 8px;
                }
                .count {
                  margin: 1px 0 0 8px;
                }
              }
              .favorite{
                &_on {
                  color: $furima;
                  background-color: $white;
                  border: 1px solid $furima;
                  .fa-star {
                    color: $furima;
                  }
                }
                &_off{
                  background-color: $back;
                  border: 1px solid $back;
                  .fa-star {
                    color: #ccc;
                  }
                }
                &_disable {
                  pointer-events: none;
                }
              }
            }

            .commentbox {
              width: 100%;
              padding: 24px;
              text-align: center;
              .commentbtn {
                line-height: 48px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
                outline: none;
                cursor:pointer
              }
              .item_edit_btn{
                line-height: 48px;
                background: orange;
                border: 1px solid orange;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
                outline: none;
                cursor:pointer
              }
              &-second{
                padding-top: 0;
                .item_delete_btn {
                  line-height: 48px;
                  background: $red;
                  border: 1px solid $red;
                  color: #fff;
                  width: 60%;
                  font-size: 18px;
                  border-radius: 100px;
                  outline: none;
                  cursor:pointer
                }
              }
            }
          }
        }
      }
    }
  }
}