* {
  box-sizing: border-box;
}
.main {
  display: flex;
  height: 1400px;
  width: 100%;
  margin: 40px auto 0;
  background-color: #F5F5F5;

  &_contaier {
    width: 1020px;
    height: 1301px;
    margin: 40px 210px 0 210px;

    &_r-side {
      width: 280px;
      height: 1300px;
      margin: 0 40px 0 0;
      float: left;

      &_list {

      &_nav {
        width: 280px;
        height: 48px;
        background-color: white;
        border-top: 1px solid #eee;
        font-size: 14px;
        position: relative;
        display: inline-block;

        &:hover {
          opacity: 0.75;
          background-color: rgb(233, 233, 233);
        }
        

        &_mypage {
          text-decoration: none;
          display: block;
          cursor:pointer;
          height: 48px;
          width: 240px;
          padding: 14px;
          color: black;
          
          &_icon {
            position: absolute;
            right: 20px;
            bottom: 15px;
          }
        }

        &_item {
          text-decoration: none;
          display: block;
          cursor:pointer;
          height: 48px;
          width: 240px;
          padding: 14px;
          color: black;

          &_icon {
            position: absolute;
            right: 20px;
            bottom: 15px;
          }
        }
      }
      }

      &_title {
        margin: 40px 0 0;
      }
    }

    &_card {
      width: 700px;
      float: right;
      height: 360px;
      background-color: #ffffff;

      &_title {
        height: 50px;
        border-bottom: 1px solid #eee;
        font-size: 25px;
        text-align: center;
        padding-top: 8px;

        &_box {
          height: 310px;
          width: 700px;
          padding: 64px;

          &_name {
            font-size: 16px;
            max-width: 320px;
            margin: 0 auto;

            &_area {
              height: 107px;
              padding: 24px 0;
              border-bottom: 1px solid #eee;

              &_button {
                height: 50px;
                width: 320px;
                background-color: red;
                margin: 0 auto;
                position: relative;

                &_link {
                  color: #ffffff;
                  margin: 0 auto;
                  display: block;
                  text-align: center;
                  line-height: 50px;

                  &_icon {
                    position: absolute;
                    left: 25px;
                    top: 17px;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}