.mypage_box {
  background-color: #f5f5f5;
  border-style: solid; border-width: 1px;
  border-color: #f5f5f5;
  .user_address_new {
    background-color: #f5f5f5;
    padding-bottom: 40px;
    margin: 40px auto 0;
    width: 1020px;
    display: flex;
    .mypage_side {
      width: 280px;
      margin: 0 40px 0 0;
      .main_contaier_r-side {
        width: 280px;
        height: 1300px;
        margin: 0 40px 0 0;
        float: left;

        &_list {
  
          &_nav {
            width: 280px;
            height: 48px;
            background-color: white;
            border-top: 1px solid #eee;
            font-size: 14px;
            position: relative;
            display: inline-block;
    
            &:hover {
              opacity: 0.75;
              background-color: rgb(233, 233, 233);
            }
            
    
            &_mypage {
              text-decoration: none;
              display: block;
              cursor:pointer;
              height: 48px;
              width: 240px;
              padding: 14px;
              color: black;
              &_icon {
                position: absolute;
                right: 20px;
                bottom: 15px;
              }
            }
    
            &_item {
              text-decoration: none;
              display: block;
              cursor:pointer;
              height: 48px;
              width: 240px;
              padding: 14px;
              color: black;
              &_icon {
                position: absolute;
                right: 20px;
                bottom: 15px;
              }
            }
          }
        }
  
        &_title {
          margin: 40px 0 0;
        }
      }
    }
    .user_address-right {
      width: 700px;
      .user_address {
        background-color: #fff;
        &__title {
          font-size: 24px;
          font-weight: 700;
          padding: 8px 24px;
          text-align: center;
          border-bottom: 1px solid #f5f5f5;
        }
        &__form {
          border-top: 1px solid #f5f5f5;
          padding: 64px;
          &__container {
            max-width: 343px;
            margin: 0 auto;
            .flash_box {
              color: #fff;
              background-color: #ea352d;
              font-weight: 400px;
              margin-top: 32px;
              width: 100%;
              text-align: center;
              line-height: 48px;
              border-radius: 4px;
              font-size: 14px;
              border: 1px solid #ea352d;

            }
            .customerform__info-1 {
              margin: 8px 0 0;
              line-height: 1.5;
              font-size: 14px;
            }
            .customerform__info-2 {
              margin: 8px 0 0;
              line-height: 1.5;
              font-size: 14px;
              text-align: right;
            }
          .form_group {
            margin-top: 40px;
            &__label {
              font-size: 14px;
              font-weight: 600;
            }
            .customerform__info-3 {
              margin: 8px 0 0;
              line-height: 1.5;
              font-size: 14px;
              font-weight: 400;

            }
            &__notrequire {
              font-size: 12px;
              color: #fff;
              background-color: #ccc;
              border-radius: 2px;
              padding: 2px 4px;
              margin-left: 8px;
            }
            &__field {
              width: 100%;
              padding: 10px 16px 8px;
              margin-top: 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
            }
          }
          .address-new-btn {
            color: #fff;
            background-color: $furima;
            font-weight: 400px;
            margin-top: 32px;
            width: 100%;
            text-align: center;
            line-height: 48px;
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid $furima;
          }
          .form_group_text_right{
            margin-top: 40px;
            text-align: right;
            .customerform__info-4 {
              margin-top: 8px;
              line-height: 1.5;
              font-weight: 400;
              font-size: 14px;
            }
          }



          }
        }
      }
    }
  }
}


