* {
  box-sizing: border-box;
}
.wrapper {
  background-color: #F5F5F5;

  .header {
    width: 100%;
    height: 97.55px;
    padding: 0 60px;

    &_box {
      max-width: 1040px;
      width: 100%;
      min-height: 87.55px;
      margin: 0 auto;
      padding: 15px 0 0;
      background-color: lightcyan;

      &_main {
        width: 1040px;
        height: 56px;
        position: relative;
        align-items: center;
        background-color: lightgreen;

      }

      &_nav {
        width: 1040px;
        height: 32px;
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        background-color: lightslategray;
      }
    }
  }

  .main {
    display: flex;
    height: 1400px;
    width: 1000px;
    margin: 40px auto 0;
    background-color: #F5F5F5;

    &_r-side {
      width: 280px;
      height: 1300px;
      margin: 0 40px 0 0;

      &_list {

        &_nav {
          width: 280px;
          height: 48px;
          background-color: white;
          padding: 16px;
          border-top: 1px solid #eee;
          font-size: 14px;
          position: relative;
          display: block;

          &_mypage {
            text-decoration: none;
            display: block;
            cursor:pointer;
          }

          &_icon {
            position: absolute;
            right: 18px;
            bottom: 15px;
          }

          &_item {
            text-decoration: none;
            display: block;
            cursor:pointer;
          }
          
        }
      }

      &_title {
        margin: 40px 0 0;
      }
    }

    &_l-side {
      width: 700px;

      &_user-icon {
        height: 200px;
        width: 700px;
        background-color: gray;
      }

      &_todo {
        height: 420px;
        background-color: #ffffff;

        &_tab {
          height: 74px;
          background-color: white;
          display: flex;
          
          
        input[type=radio] {
          // display: none;
          }
          input#tab1[type=radio]:checked ~ .main_l-side_todo_tab_label1 {
            background-color: #ffffff;
            border-top: 2px solid #ffffff
            }
          input#tab2[type=radio]:checked ~ .main_l-side_todo_tab_label2 {
            background-color: #ffffff;
            border-top: 2px solid #ffffff
            }
          
          &_label1 {
            display: block;
            height: 74px;
            width: 350px;
            background-color: #b4b9b9;
            text-align: center;
            padding: 20px;
            font-size: 20px;
            cursor:pointer;

            &:hover {
              opacity: 0.75;
            }
        
          }

          &_label2 {
            display: block;
            height: 74px;
            width: 350px;
            background-color: #b4b9b9;
            text-align: center;
            padding: 20px;
            font-size: 20px;
            cursor:pointer;

            &:hover {
              opacity: 0.75;
            }
          }
          }
        &_tabcontent {
          height: 346px;
          &_menu1 {
            
            &_messages {
              
              &_body {
                min-height: 86px;
                padding: 15px;
                border-bottom: 1px solid #eee;
                &_link {
                  text-decoration: none;
                }
              }
              &_list {
                height: 86px;
                padding: 15px;
                text-align: center;
                
                &_view {
                  text-decoration: none;
                  display: block;
                  cursor:pointer;
                  height: 56px;
                  line-height: 56px;
                  background-color: #b4b9b9;
                  color: #000;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }

      &_contaier {
        width: 700px;
        height: 390px;
        margin: 40px 0 0;
        background-color: lightpink;

        &_title {
          height: 72px;
          background-color: #fafafa;
          padding: 18px 16px;
          font-size: 20px;
        }
        &_tab {
          height: 320px;
          background-color: blue;
        }
      }
    } 
  } 
} 
