* {
  box-sizing: border-box;
}

.card_add {
  width: 700px;
  height: 650px;
  background-color: #ffffff;
  text-align: center;
  .title {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    font-weight: bold;
  }
  .details {
    padding: 40px 139px 64px;

    .number-details {
      display: flex;
      .card-number {
        width: 70px;
        height: 14px;
        font-weight: 600;
        font-size: 14px;
      }
      .must_check {
        background-color: #3ccace;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
    }
    .number {
      .cardnumber {
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        width: 100%;
        margin: 8px 0 0;
      }
    }
    .image {
      margin: 8px 0 0;
      .visa {
        width: 49px;
      }
      .master {
        width: 49px;
        margin: 0 0 0 8px;
      }
      .jcb {
        width: 49px;
        margin: 0 0 0 8px;
      }
      .amex {
        width: 49px;
        margin: 0 0 0 8px;
      }
      .diners {
        width: 49px;
        margin: 0 0 0 8px;
      }
      .discover {
        width: 49px;
        margin: 0 0 0 8px;
      }
    }
    .expirationdate {
      .expirationdate__details {
        display: flex;
        margin-top: 32px;
        .date {
          width: 70px;
          height: 14px;
          font-weight: 600;
          font-size: 14px;
        }
        .must_check {
          background-color: #3ccace;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
      }
      .expirationdate__choice {
        display: flex;
        .month {
          margin: 8px 0 0;
          width: calc(50% - 2px);
          display: flex;

          .card-default {
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            width: calc(100% - 38px);
          }
          .month-details {
            height: 18px;
            width: 14px;
            font-size: 14px;
            padding: 10px;
          }
        }
        .year {
          margin: 8px 0 0;
          width: calc(50% - 2px);
          display: flex;

          .card-default {
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            width: calc(100% - 38px);
          }
          .year-details {
            height: 18px;
            width: 14px;
            font-size: 14px;
            padding: 10px;
          }
         }
        }
    }
    .securitycode {
      .securitycode__details {
        display: flex;
        margin-top: 32px;
        .securitycode-details__title {
          width: 126px;
          height: 14px;
          font-weight: 600;
          font-size: 14px;
        }
        .must_check {
          background-color: #3ccace;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
      }
    }
      .securitycode__cardsecurity {
        .securitycode__cardsecurity__form {
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 100%;
          margin: 8px 0 0;
        }
      }
      .card-question {
        text-align: right;
        color: #0099e8;
        font-size: 15px;
      }
    .add {
      margin-top: 32px;
      .add__btn{
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        width: 100%;
        margin: 8px 0 0;
        background-color: #3ccace;
        cursor: pointer;
        color: #ffffff;

        &:hover {
          opacity: 0.75;
        }
      }
    } 
  }
}