.appBanner
  .inner
    .inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .inner__text
      今すぐ無料ダウンロード
    .inner__icon
      = link_to image_tag(src="google-play-badge.png", class: "inner__icon__aBtn")
      = link_to image_tag(src="google-play-badge.png", class: "inner__icon__gBtn")
      