.pcHeader
  .header-Inner
    .main-Header
      = link_to image_tag(src= "/assets/logo.png", class: "icon")
      .searchBox
        .form
          <input class="form__input" placeholder="キーワードから探す">
          = link_to image_tag(src= "/assets/icon-search 1.png", class: "form__submit")
    .nav
      .listsLeft
        .listsLeft__first
          = link_to "#", class: "catBtn" do
            カテゴリー
          .display
            .category
              .ul
                .li
                  <a id="1" href="#">レディース</a>
                  <a id="2" href="#">メンズ</a>
                  <a id="3" href="#">ベビー・キッズ</a>
                  <a id="4" href="#">インテリア・住まい・小物</a>
                  <a id="5" href="#">本・音楽・ゲーム</a>
                  <a id="6" href="#">おもちゃ・ホビー・グッズ</a>
                  <a id="7" href="#">コスメ・香水・美容</a>
                  <a id="8" href="#">家電・スマホ・カメラ</a>
                  <a id="9" href="#">スポーツ・レジャー</a>
                  <a id="10" href="#">ハンドメイド</a>
                  <a id="11" href="#">チケット</a>
                  <a id="12" href="#">自動車・オートバイ</a>
                  <a id="13" href="#">その他</a>
        .listsLeft__item
          <a class="brandBtn" href="#">ブランド</a>
          .display
            .category
              .ul
                .li
                  <a id="1" href="#">1</a>
                  <a id="2" href="#">2</a>
                  <a id="3" href="#">3</a>
                  <a id="4" href="#">4</a>
                  <a id="5" href="#">5</a>
                  <a id="6" href="#">6</a>
                  <a id="7" href="#">7</a>
                  <a id="8" href="#">8</a>
                  <a id="9" href="#">9</a>
                  <a id="10" href="#">10</a>
      .listsRight
        .listsRight__login
          <a class="login" href="#">ログイン</a>
        .listsRight__new
          <a class="new" href="#">新規会員登録</a>