.new-main
  .new-main_image
  .new-main_product
    .new-main_product_top
      .new-main_product_top_body
        .new-main_product_top_body_name
          .new-main_product_top_body_name_left
            商品名
          .new-main_product_top_body_name_right
            必須
        .new-main_product_top_body_form
          .new-main_product_top_body_form_body
            .new-main_product_top_body_form_body_text
    .new-main_product_bottom
      .new-main_product_bottom_body
  .new-main_product-details
  .new-main_delivery
    .new-main_delivery_burden
      .new-main_delivery_burden_body
        .new-main_delivery_burden_body_top
          .new-main_delivery_burden_body_top_left
            配送料の負担
          .new-main_delivery_burden_body_top_right
            必須
        .new-main_delivery_burden_body_bottom
          .new-main_delivery_burden_body_bottom_body
            .new-main_delivery_burden_body_bottom_body_form
            .new-main_delivery_burden_body_bottom_body_choice
    .new-main_delivery_area
      発送元の地域
      必須
    .new-main_delivery_days
      発送までの日数
      必須
  .new-main_selling-price
  .new-main_btn
    .new-main_btn_top
      出品する
    .new-main_btn_bottom
      下書きに保存
  .new-main_note