$furima: #3ccace;
$back: #f5f5f5;
$red: #ea352d;
$white: #fff;

@import "reset";
@import "modules/header";
@import "modules/toppage-main";
@import "modules/footer";
@import "modules/users";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/items";
@import "modules/devise_signup";
@import "modules/devise_login";
@import "modules/product.scss";
@import "modules/new-main.scss";
@import "modules/user_address_new";
@import "modules/deliver_address_new";
@import "modules/user_cards";
@import "modules/user_logout";
@import "modules/show_categories";

