.appBanner
  = image_tag asset_path('bg-mainVisual-pict_pc.jpg')
  .inner
    .inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .inner__text
      今すぐ無料ダウンロード
    .inner__icon
      = link_to image_tag("app.svg", class: "icon_Btn")
      = link_to image_tag("google.svg", class: "icon_gBtn")
      